.footer {
  position: relative;
}
.bg-circle-4 {
  top: -9rem;
  right: 0rem;
}

/* register start  */
.register {
  margin: auto;
  width: 90vw;
  /* border: 2px solid #fff; */
  margin-top: 5rem;
  display: flex;
}
.register-left {
  background-color: rgba(255, 255, 255, 0.13);
  width: 50%;
  border-radius: 20px 0 0 20px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1.5rem;
  display: flex;
}
.register-left img {
  vertical-align: middle;
}
.register-right {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  font-family: "outfit";
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-color: #262d48;
  border-radius: 0 20px 20px 0;
}
.register-right h1 {
  margin-top: 2rem;
}
.register-right label {
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.register-right input {
  background-color: rgba(222, 223, 235, 0.24);
  border: none;
  border-radius: 5rem;
  padding-left: 3rem;
  width: 100%;
  height: 3.5rem;
  color: #e2e2e2;
  font-family: "outfit";
  font-size: 17px;
  margin-top: 1rem;
}
.register-right input:focus {
  outline: 5px solid #3f4461; /* Remove the default focus outline */
}
.register-btn {
  margin-top: 3rem;
  height: 3.5rem;
  font-size: 20px;
}
.register a {
  text-decoration: none;
  margin-top: 4rem;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}
#login-link {
  color: #ba68c8;
}
